.industrial-collaboration-container {
  align-content: flex-start;
  color: $color-violet-1;
  display:flex;
  margin-top: $spacing-medium;

  @media screen and (min-width: $large) {
    align-self: self-start;
    display: flex;
    flex-direction: row;
    margin-top: $spacing;
  }

  @media screen and (max-width: $small) {
    margin-top: $spacing-medium;
  }

  input[type=checkbox] {
    accent-color: $color-green-3;
    margin: 10px;
    min-width: 46px;
    min-height: 46px;

    &:hover {
      accent-color: $color-violet-1;
    }
  }

  label {
    display: inline;
    align-self: center;
  }
}
