.custom-link {
  line-height: 20px;
  overflow: hidden;

  span {
    display: inline-flex;
    height: 14px;
    margin-left: calc($spacing-tiny / 2);
    width: 14px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
}
