.info-icon__button {
  border: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    & + .info-icon__description {
      visibility: visible;
    }
  }

  svg {
    fill: $color-violet-1;
  }
}

.info-icon__description {
  @include shadow();
  background-color: $color-white;
  visibility: hidden;
  position: absolute;
  top: 28px;
  padding: $spacing-tiny;
  border-radius: 3px;
  border: 2px solid $color-green-2;
  right: 0;
  margin: 0;
  z-index: 10;
  line-height: 22px;
}
