.button-group {
  @media screen and (min-width: $large) {
    display: flex;
  }

  .button + .button {
    margin-top: $spacing;

    @media screen and (min-width: $large) {
      margin-left: $spacing-tiny;
      margin-top: 0;
    }
  }

  &--reversed {
    @media screen and (min-width: $large) {
      flex-direction: row-reverse;
    }

    .button + .button {
      margin-top: $spacing;

      @media screen and (min-width: $large) {
        margin-left: 0;
        margin-right: $spacing-tiny;
        margin-top: 0;
      }
    }
  }
}

.button {
  @include font-size(16px);
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $color-green-2;
  color: $color-violet-1;
  font-family: $default-font-family;
  font-weight: bold;
  height: 40px;
  padding: $spacing-tiny $spacing-medium;
  width: 100%;

  @media screen and (min-width: $small) {
    height: 44px;
  }

  @media screen and (min-width: $medium) {
    @include font-size(18px);
    height: 48px;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: $color-indigo-1;
  }

  &:hover, &:focus {
    border-color: $color-black;
  }

  &--primary {
    background-color: $color-green-2;
    color: $color-white;

    &:focus {
      outline-color: $color-black
    }

    &:hover, &:focus {
      background-color: $color-green-3;
    }
  }

  &--secondary {
    background-color: $color-gray-1;
    border-color: $color-gray-1;
    color: $color-black;

    &:focus {
      border-color: $color-black;
      outline-color: $color-black;
    }

    &:hover, &:focus {
      border-color: $color-black;
    }
  }
}