.button-group {
  @media screen and (min-width: $large) {
    display: flex;
  }

  .button + .button {
    margin-top: $spacing;

    @media screen and (min-width: $large) {
      margin-left: $spacing-tiny;
      margin-top: 0;
    }
  }
}

.button {
  @include font-size(16px);
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $color-violet-1;
  color: $color-violet-1;
  font-weight: bold;
  height: 40px;
  padding: $spacing-tiny $spacing;
  width: 100%;

  @media screen and (min-width: $small) {
    height: 44px;
  }

  @media screen and (min-width: $medium) {
    @include font-size(18px);
    height: 48px;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: $color-indigo-1;
  }

  &:hover, &:focus {
    border-color: $color-indigo-1;
  }
}