.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-list__item {
  & + & {
    margin-top: $spacing;
  }
}

.description-list__label {
  @include font-size(14px);
  color: $color-green-3;
  line-height: 16px;
  margin-bottom: $spacing-tiny / 2;
  margin-top: 0;

  + .description-list__list {
    margin-top: $spacing-tiny;
  }
}

.description-list__description {
  @include font-size(16px);
  line-height: 20px;
  margin: 0;

  p {
    margin-top: 0;
  }
}

.description-list__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(.description-list__list--keywords) .description-list__list-item {
    width: 100%;
  }

  &.description-list__list--keywords {
    flex-direction: row;
  }
}

.description-list__list-item {
  & + & {
    margin-top: $spacing-tiny;
  }

  .description-list__list--keywords & {
    margin-bottom: $spacing-tiny;
    margin-right: $spacing-tiny;
    margin-top: 0;
  }

  &.is-hidden {
    display: none;
    visibility: hidden;
  }
}

.description-list__link {
  color: $color-violet-1;

  svg {
    fill: $color-violet-1;
  }
}

.description-list__button {
  @include font-size(12px);
  align-items: center;
  background-color: $color-gray-1;
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
  color: $color-black;
  display: inline-flex;
  font-weight: bold;
  margin-bottom: $spacing-tiny;
  padding: $spacing-tiny $spacing-tiny;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}