.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-list__item {
  & + & {
    margin-top: $spacing;
  }
}

.description-list__label {
  @include font-size(14px);
  color: $color-blue-3;
  margin-bottom: $spacing-tiny / 2;
  margin-top: 0;

  + .description-list__list {
    margin-top: $spacing-tiny;
  }
}

.description-list__description {
  @include font-size(16px);
  margin: 0;
}

.description-list__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(.description-list__list--keywords) .description-list__list-item {
    width: 100%;
  }

  &.description-list__list--keywords {
    flex-direction: row;
  }
}

.description-list__list-item {
  & + & {
    margin-top: $spacing-tiny;
  }

  .description-list__list--keywords & {
    margin-bottom: $spacing-tiny;
    margin-right: $spacing-tiny;
    margin-top: 0;
  }
}